body{
	font-family: Lucida Grande, Lucida, sans-serif;
	font-size: 13px;
	
	margin: 10px 30px;
	color:#444;
}
a{
	text-decoration:none;
	color:#00A;	
}
a:hover{
//	color:black;
	text-shadow: #555 0px 0px 12px;
}
h3{
	margin-top:5px;	
	margin-bottom:5px;	
}
.container{
	text-align:center;
}
svg{
	/*width:90%;*/
}
.diagram, .plot{
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}
.diagram{
	background-color:#FAFAFA;
	border:solid 2px #DDD;
}
.plot{
	background-color:#FAFAFF;
	border:solid 2px #DDF;
}
pre, code{
	color:#000;
	background-color:#F7F7F7;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}
pre{
	padding:6px 10px;
	width:550px;
	overflow:auto;
	border: 1px dotted #DDD;
}
code{
	padding:0px 4px;
}
ul{
	padding-left:25px;
}
li{
	list-style-type:none;
	padding-bottom:5px;
}
li li{
	padding:0px;
}

@media print{
	input[type=button]{
		visibility:hidden;
	}
}

